h2.nomt
    | タグの
    span(v-if="editing") 編集
    span(v-if="!editing") 追加

p
    a(href="/manage/tag") タグ一覧へ戻る

form.row(v-if="tag" v-on="submit: performSave($event)")
    .control-group
        .col-sm-3
            label.control-label 日本語名
        .col-sm-9
            input.control(
                v-model="tag.name_ja"
                v-validate="required"
                placeholder="日本語名を入力してください")

    .control-group
        .col-sm-3
            label.control-label 英語名
        .col-sm-9
            input.control(
                v-model="tag.name_en"
                v-validate="required"
                placeholder="英語名を入力してください")

    .control-group
        .col-sm-9.col-sm-push-3
            ul.list-inline
                li
                    button.btn.btn-green(
                        type="submit"
                        v-attr="disabled: invalid") 保存する
                li
                    button.btn.btn-red(
                        type="button"
                        v-if="editing"
                        v-on="click: performDelete($event)") 削除
                
                
