h2.nomt
    | 記事の
    span(v-if="editing") 編集
    span(v-if="!editing") 追加

p
    a(href="/manage/article") 記事一覧へ戻る

form.row(v-if="article" v-on="submit: performSave($event)")
    .control-group
        .col-sm-3
            label.control-label URL
        .col-sm-9
            input.control(
                v-model="article.slug"
                v-validate="required, slug"
                placeholder="URL")
            .control-help(v-if="article.slug")
                | 「{{url}}」が実際の記事ページのURLになります。
            .control-error(v-if="validation.article.slug.dirty")
                div(v-if="validation.article.slug.slug")
                    | 半角英数字と「_」（アンダーバー）のみ使用可能です
                    
    .control-group
        .col-sm-3
            label.control-label 下書き
        .col-sm-9
            input.control(
                type="checkbox"
                id="articleDraft"
                v-model="article.draft")
            label.control-label(for="articleDraft") チェックを入れて保存すると非公開になります


    .control-group
        .col-sm-3
            label.control-label 日本語のタイトル
        .col-sm-9
            input.control(
                v-model="article.title_ja"
                v-validate="required"
                placeholder="日本語のタイトルを入力してください")

    .control-group
        .col-sm-3
            label.control-label 英語のタイトル
        .col-sm-9
            input.control(
                v-model="article.title_en"
                v-validate="required"
                placeholder="英語のタイトルを入力してください")
    
    .control-group
        .col-sm-3
            label.control-label タグ
        .col-sm-9
            .row.row-grow
                .col-xs-4(v-repeat="tag: tags")
                    input.control(
                        type="checkbox"
                        v-select="article.tags"
                        value="{{tag._id}}"
                        id="articleTag{{tag._id}}")
                    label.control-label(for="articleTag{{tag._id}}") {{tag.name_ja}}
            .control-help
                | 新たなタグを追加したい場合は
                a(href="/manage/tag/new") こちら
                | から追加してください。

    .control-group
        .col-sm-3
            label.control-label カテゴリ
        .col-sm-9
            select.control(
                v-model="article.category" options="catOpts")
            .control-help
                | 新たなカテゴリを追加したい場合は
                a(href="/manage/category/new") こちら
                | から追加してください。

    .control-group
        .col-xs-12
            .tabs
                .tab(v-class="'tab-active': mode === 'ja'")
                    a.clickable(v-on="click: mode = 'ja'")
                        | 本文（日本語）
                .tab(v-class="'tab-active': mode === 'en'")
                    a.clickable(v-on="click: mode = 'en'")
                        | 本文（英語）
                .tab(v-class="'tab-active': mode === 'help'")
                    a.clickable(v-on="click: mode = 'help'")
                        | ヘルプ
            
            div(v-show="mode === 'ja'")
                .editor.control(
                    v-editable="article.content_ja"
                    placeholder="日本語の本文を入力してください"
                )

            div(v-show="mode === 'en'")
                .editor.control(
                    v-editable="article.content_en"
                    placeholder="英語の本文を入力してください"
                )

            div(v-show="mode === 'help'")
                h2 編集について
                p
                    | 記事の本文は
                    code Markdown
                    | という形式を使って編集していただきます。下記のリンクが参考になると思いますので
                    | ご一読ください。
                ul
                    li
                        a(href="http://www.markdown.jp/syntax/" target="_blank")
                            i.fa.fa-fw.fa-external-link
                            | Markdown記法 &middot; 日本語Markdownユーザー会
                    li
                        a(href="http://qiita.com/Qiita/items/c686397e4a0f4f11683d" target="_blank")
                            i.fa.fa-fw.fa-external-link
                            | Qiita - Markdown記法 チートシート - Qiita
                        
                
                p
                    | また、記事は非公開にすることができますので、その記事で練習すると良いかもしれません。
    .control-group
        .col-xs-12
            ul.list-inline(v-show="mode !== 'help'")
                li
                    button.btn.btn-green(
                        type="submit"
                        v-attr="disabled: invalid") 保存する
                li
                    button.btn.btn-blue(
                        type="button"
                        v-on="click: preview()") プレビュー
                li.pull-right
                    button.btn.btn-red(
                        type="button"
                        v-if="editing"
                        v-on="click: confirmDelete()") 削除

modal(shown="{{@ shownPreviewModal}}" title="{{title}}")
    div(v-html="compiledContent")
        
modal(shown="{{@ shownDeleteModal}}" title="記事の削除の確認")
    button.btn.btn-red(v-on="click: performDelete()")
        | 記事を削除する
