.col-sm-8.col-sm-push-2.col-md-6.col-md-push-3
    h1 Signup
    p 登録用ページです
    form(v-on="submit: performSignup($event)")
        .control-group
            input.control(
                type="text"
                name="username"
                v-model="credentials.username"
                v-validate="required"
                placeholder="ユーザー名")
        .control-group
            input.control(
                type="password"
                name="password"
                v-model="credentials.password"
                v-validate="required"
                placeholder="パスワード")
        .control-group
            input.control(
                type="password"
                v-model="reenteredPassword"
                v-validate="required, match: matchPassword"
                placeholder="パスワード再入力")
        .control-group
            button.btn.btn-green.btn-block(type="submit" v-attr="disabled: $invalid") ユーザー登録
